body {
    background-image: url("../images/background-hangman.jpg");
    background-position: center;
    background-size: cover;
}
.main-div {
    text-align: center;
    background: #d5d4d4a8;
    width: 66%;
    margin: 5% auto;
    padding: 5%;
    border-radius: 10px;
}
#random-word {
    font-size: 4em;
}